@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>
        Kairos Koh Jia Jun (30201952)<br />
        Simrat S. Benipal (30129328)<br />
        Luis Miranda (30053613)<br />
        Rei Tsunemi (30121202)<br />
        Muhammad Ahsan Zia (30121304)<br />
        Chun-chun Huang (30112677)<br/>
        Shabit Hassan (30062679)<br/>
    </p>
    <hr />
    <p><b>Code Repository:</b></p>
    <p>
        The code for this project is located at the following link*: <a style="text-decoration: underline;" class="nav-link text-dark" target=”_blank” href ="https://github.com/kairoskoh/UFlourish-SENG401.git">"UFlorish GIT-Hub"</a>
        <br />
        * Please not that the code is the property of University of Calgary, our Instructor, our TA and the Team and code that needs to be re-used must be done with the permission of the above. *
    </p>
    <hr />
</div>
