@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center">
    <h1 class="display-4">Our Team</h1>
    <p>
        Kairos Koh Jia Jun (30201952)<br />
        Simrat S. Benipal (30129328)<br />
        Luis Miranda (30053613)<br />
        Rei Tsunemi (30121202)<br />
        Muhammad Ahsan Zia (30121304)<br />
        Chun-chun Huang (30112677)<br/>
        Shabit Hassan (30062679)<br/>
    </p>
</div>
